@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.parsed * {
    margin-bottom: 1rem;
}

div.parsed h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    font-weight: 600;
}