/* Used border-bottom instead of text-decoration to add x-direction padding under active link */
a.active {
    color: #5ECE7B;
    border-bottom: 1px solid #5ECE7B;
}

a {
    padding: 1.75rem 1rem 2rem;
}

a.home {
    border: none !important;
    padding: 0 !important;
}